<h2><%= @user.first_name %> <%= @user.last_name %> さんの公開ページ</h2>
<input type="text" id="publicPageUrl" value="<%= public_page_url(uuid: current_user.uuid, custom_id: current_user.id + 150150) %>" readonly>
<button onclick="copyPublicPageUrl()">このページのURLをコピー</button>
※ログインは改めて必要になります。

<p><strong><%= @user.first_name %> <%= @user.last_name %> さんの最終ログイン日:</strong> </p>

<p><strong>公開者:</strong> <%= @user.first_name %> <%= @user.last_name %></p>

<p><strong>閲覧者:</strong> <%= @viewer.first_name %> <%= @viewer.last_name %></p>

<p><strong>本日の日付:</strong> <%= Time.current.strftime('%Y-%m-%d %H:%M') %></p>

<br>
<%= button_to "個人ページに戻る", notes_path, method: :get, class: "btn btn-secondary" %>


ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
<br>
<%#= @user.last_sign_in_at %> 
