
<br>

<h2>閲覧者からみた、<%= current_user.first_name %> <%= current_user.last_name %> さんの公開ページです。</h2>
<h2>閲覧者からみた、<%= @user.first_name %> <%= @user.last_name %> さんの公開ページです。</h2>


<br>

<p><%= current_user.first_name %> <%= current_user.last_name %> さんの最終ログイン日</p>


<!-- ユーザーの基本情報 -->
<div>
  <strong>苗字:</strong> <%= current_user.last_name %><br>
  <strong>名前:</strong> <%= current_user.first_name %><br>
  <strong>生年月日:</strong> <%= current_user.birthday %><br>
  <strong>住所:</strong> <%= current_user.address %><br>
</div>

<br>
<%= button_to "個人ページに戻る", notes_path, method: :get, class: "btn btn-secondary" %>