<h2><%= @user.first_name %> <%= @user.last_name %> さんの公開ページ</h2>
<input type="text" id="publicPageUrl" value="<%= public_page_url(uuid: current_user.uuid, custom_id: current_user.id + 150150) %>" readonly>
<button onclick="copyPublicPageUrl()">このページのURLをコピー</button>
※ログインは改めて必要になります。
※閲覧権限が許可されていないとアクセスできません。

<p><strong><%= @user.first_name %> <%= @user.last_name %> さんの最終ログイン日:</strong> </p>

<p><strong>公開者:</strong> <%= @user.first_name %> <%= @user.last_name %></p>

<p><strong>閲覧者:</strong> <%= @viewer.first_name %> <%= @viewer.last_name %></p>

<p><strong>本日の日付:</strong> <%= Time.current.strftime('%Y-%m-%d %H:%M') %></p>

ーーー
<h3>あなたの公開ページの閲覧履歴</h3>

<% if @view_accesses.any? %>
  <table border="1">
    <tr>
      <th>閲覧者</th>
      <th>最終アクセス日</th>
      <th>アクセス回数</th>
    </tr>
    <% @view_accesses.each do |access| %>
      <tr>
        <td><%= access.user.first_name %> <%= access.user.last_name %></td>
        <td><%= access.last_accessed_at.strftime("%Y-%m-%d %H:%M") if access.last_accessed_at %></td>
        <td><%= access.access_count %> 回</td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>まだ誰にも閲覧されていません。</p>
<% end %>

ーーー
<br>
<%= button_to "個人ページに戻る", notes_path, method: :get, class: "btn btn-secondary" %>


ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
<br>
<%#= @user.last_sign_in_at %> 
