<h2>このページは、 <%= @user.first_name %> <%= @user.last_name %> さんの公開ページです。</h2>
<p><strong>作成日時:</strong> <%= Time.current.strftime('%Y-%m-%d %H:%M') %></p>

<table>
  <tr>
    <th>氏名</th>
    <td><%= @user.first_name %> <%= @user.last_name %></td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td><%= @user.birthday.strftime('%Y-%m-%d') if @user.birthday %></td>
  </tr>
  <tr>
    <th>血液型</th>
    <td><%= @user.blood_type %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @user.phone_number %></td>
  </tr>
</table>

<h3>公開ページのURL</h3>
<p><%= request.original_url %></p>

<h3>閲覧履歴</h3>
<% if @view_accesses.any? %>
  <table>
    <tr>
      <th>閲覧者</th>
      <th>最終アクセス日</th>
      <th>アクセス回数</th>
    </tr>
    <% @view_accesses.each do |access| %>
      <tr>
        <td><%= access.viewer.first_name %> <%= access.viewer.last_name %></td>
        <td><%= access.last_accessed_at.strftime('%Y-%m-%d %H:%M') if access.last_accessed_at %></td>
        <td><%= access.access_count %> 回</td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>まだ誰にも閲覧されていません。</p>
<% end %>