<br>
<br>

<h2>遺言作成管理 - Willer -</h2>

<div id="error_explanation">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<br>
<br>

<div class="tabs">
  <button id="signup-tab" class="active" onclick="showForm('signup')">＜新規登録画面＞</button>
  <button id="login-tab" onclick="showForm('login')">＜ログイン画面＞</button>
</div>

<br>

<!-- 新規登録フォーム（デフォルトで表示） -->
<div id="signup-form">
  <%= form_with model: resource, url: registration_path(resource_name), local: true, id: "signup_form" do |f| %>
    <div>
      <%= f.label :email %><br>
      <%= f.email_field :email, id: "signup_user_email", value: f.object.email, autocomplete: "email" %>
    </div>

    <div>
      <%= f.label :password %><br>
      <%= f.password_field :password, id: "signup_user_password", autocomplete: "new-password" %>
    </div>

    <div>
      <%= f.label :password_confirmation, "パスワード（確認）" %><br>
      <%= f.password_field :password_confirmation, id: "signup_user_password_confirmation", autocomplete: "new-password" %>
    </div>

    <div>
      <%= f.label :first_name, "苗字" %><br>
      <%= f.text_field :first_name, id: "signup_user_first_name", value: f.object.first_name %>
    </div>

    <div>
      <%= f.label :first_name_furigana, "苗字（ふりがな）" %><br>
      <%= f.text_field :first_name_furigana, id: "signup_user_first_name_furigana", value: f.object.first_name_furigana %>
    </div>

    <div>
      <%= f.label :last_name, "名前" %><br>
      <%= f.text_field :last_name, id: "signup_user_last_name", value: f.object.last_name %>
    </div>

    <div>
      <%= f.label :last_name_furigana, "名前（ふりがな）" %><br>
      <%= f.text_field :last_name_furigana, id: "signup_user_last_name_furigana", value: f.object.last_name_furigana %>
    </div>

    <div>
      <%= f.label :birthday, "生年月日" %><br>
      <%= f.date_select :birthday, start_year: 1900, end_year: Date.today.year, use_month_numbers: true %>
    </div>

    <div>
      <%= f.label :blood_type, "血液型" %><br>
      <%= f.select :blood_type, ["A", "B", "O", "AB"], id: "signup_user_blood_type", include_blank: "選択してください" %>
    </div>

    <div>
      <%= f.label :address, "住所" %><br>
      <%= f.text_field :address, id: "signup_user_address", value: f.object.address %>
    </div>

    <div>
      <%= f.label :phone_number, "電話番号" %><br>
      <%= f.text_field :phone_number, id: "signup_user_phone_number", value: f.object.phone_number %>
    </div>

<br><br>

    <div>
      <%= f.submit "新規登録" %>
    </div>

  <% end %>
</div>

<!-- ログインフォーム（非表示） -->
<div id="login-form" style="display: none;">
  <%= form_with model: resource, url: session_path(resource_name), local: true, id: "login_form" do |f| %>
    <div>
      <%= f.label :email %><br>
      <%= f.email_field :email, id: "login_user_email", value: f.object.email, autofocus: true, autocomplete: "email" %>
    </div>

    <div>
      <%= f.label :password %><br>
      <%= f.password_field :password, id: "login_user_password", autocomplete: "current-password" %>
    </div>

<br><br>

    <div>
      <%= f.submit "ログイン" %>
    </div>

  <% end %>
</div>


<script>
  function showForm(type) {
    if (type === 'signup') {
      document.getElementById('signup-form').style.display = 'block';
      document.getElementById('login-form').style.display = 'none';
      document.getElementById('signup-tab').classList.add('active');
      document.getElementById('login-tab').classList.remove('active');
    } else {
      document.getElementById('signup-form').style.display = 'none';
      document.getElementById('login-form').style.display = 'block';
      document.getElementById('signup-tab').classList.remove('active');
      document.getElementById('login-tab').classList.add('active');
    }
  }
</script>

<style>
  .tabs button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  .tabs button.active {
    font-weight: bold;
  }
</style>